<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>

<!---->more abstract
<!-- #@posts.each do |post| %>-->
<!--  <div> #link_to post.title, post %></div>-->
<!-- #end-->